@import './assets/styles/reset.scss';
@import './assets/styles/index.scss';

body {
  font-family: 'Roboto', sans-serif;
  @include getRegularFont();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}